{%extends "base.html"%}
{%block title%}Info page{%endblock%}
{%block content%}

<h1>Tell us about yourself!!</h1>

<form action="#" method="post">
	<p>Name: <input type="text" name="nm" placeholder="Enter name"></p>
	<p>Email: <input type="email" name="em" placeholder="Enter email"></p>
	<p>City: <input type="text" name="ct" placeholder="Enter your city"></p>
	<p>Age: <input type="text" name="ag" placeholder="Enter your age"> </p>
	<p> <input type="submit" name="sbmt"> </p>
</form>

{%endblock%}